@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  background-image: linear-gradient(to bottom, #af67e9, #6565e7);
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  padding: 1.5em;
  margin: 1.5em;
  background-color: white;
  border-radius: 20px;
}

.card__img {
  display: flex;
  flex-direction: column;
  position: relative;
}

.card__img-1 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 55%;
  transform: translateX(-55%);
  margin-top: -10em;
}

.card__img-2 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 50%;
  transform: translateX(-50%);
  margin-top: -1.5em;
}

.card__img-3 {
  display: none;
}

.card__heading {
  text-align: center;
  margin: 1em 0 1em 0;
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 700;
}

.card__faqs {
  padding: 0 1em;
  margin-top: 8em;
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.card__faqs details[open] > summary > .card__down__icon {
  transform: rotateX(180deg);
}

.card__faqs details[open] > summary > p {
  font-weight: 700;
}

.card__ques {
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 400;
  margin: 1em 1em;
  display: flex;
  color: #4a4b5e;
  justify-content: space-between;
}

.card__down__icon {
  margin-left: 2em;
}

.card__ans {
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 400;
  text-align: left;
  line-height: 1.5;
  margin: 1em;
  color: #787887;
}

.card hr {
  background-color: #e7e7e9;
  opacity: 0.6;
  margin: 0 1em;
}

@media screen and (min-width: 1100px) {
  .card {
    flex-direction: row;
    padding: 5em 5em 5em 33em;
    overflow: hidden;
    /* card-img */
  }
  .card__img-1 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 100%;
    transform: translateX(-100%);
    margin-top: -15em;
  }
  .card__img-2 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 100%;
    transform: translateX(-100%);
    margin-top: -45em;
  }
  .card__heading {
    margin-bottom: 1em;
    margin-top: 0;
    margin-left: 0.7em;
    text-align: left;
  }
  .card__faqs {
    margin-top: 1em;
    font-size: 1rem;
    margin-left: 3em;
  }
  .card__ques:hover > p {
    color: red;
  }
  .card__ans {
    max-width: fit-content;
  }
}
